:root {
    --rb-c-white: #EEE5E9;
    --rb-c-french_gray: #D2CBCE;
    --rb-c-silver: #A7A4A5;

    --rb-c-outer_space: #494D4C;
    --rb-c-onyx: #383D3B;
    --rb-c-black: #151515;

    --rb-c-non_photo_blue: #92DCE5;
    --rb-c-robin_egg_blue: #52DEE5;

    --rb-c-red: #bf1212;
    --rb-c-green: #03d100; 
}

:root {
    --color-background: var(--rb-c-white);
    --color-background-accent: var(--rb-c-french_gray);
    --color-background-accent-2: var(--rb-c-gray-light);

    --color-text: var(--rb-c-black);
}

/* @media (prefers-color-scheme: dark) {
    :root {
      --color-background: var(--rb-c-black);
      --color-background-accent: var(--rb-c-gray-darker);
      --color-background-accent-2: var(--rb-c-gray-dark);
  
      --color-text: var(--rb-c-white);
    }
} */

body {
    min-height: 90vh;
    width: fit-content;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
      Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    height: 100vh;
    user-select: none;
    -webkit-user-select: none;
  }

   /* width */
   ::-webkit-scrollbar {
    width: 5px;
    height: 7px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
    background: #00000000;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555;
    }